*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  /* header */

  body{
    font-family: 'Roboto', sans-serif;
  }

  header{
    height: 400px;
    background-color: #0C325A;
    position: relative;
    /* background-image: url("../img/background-header.png"); */
    background-position: center;
    /* debug */
  }

  #men{
    position: absolute;
    width: 50%;
    height: 70%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  nav{
    text-align: center;
  }

  ul li{
    margin-top: 15px;
    margin-left: 2px;
    display: inline-block;
  }

  a{
    text-decoration: none;
    color: #fff;
    padding-right: 2px;
  }

  .space{
    margin-left: 80px;
  }

  .but{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 12px;
    cursor: pointer;
  }

  .login{
    background-color: inherit;
    color: #fff;

  }

  .piano{
    background-color: #7CBB02;
    color: white;
    border: none;
    /* IDEA: border none lo devo lasciare qui perche annulla il prcedente css su tutti e 2 i tasti del bordo */
  }

  .blocco-titolo{
    padding-left: 100px;
    padding-top: 120px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }

  .titolo{
    color: #fff;
    font-size: xxx-large;
    margin-bottom: 20px;
  }

  p{
    padding-top: 5px;
    color: grey;
  }





  /* main */

  .top{
    height: 120px;
    background-color: #D3D3D3;
    text-align: center;
    padding-top: 30px;

  }

  .col{
    min-height: 350px;
    width: 30%;
    margin-top: 20px;
    display: inline-block;
    float: left;
    position: relative;
    /* debug */
    /* background-color: pink; */
  }

  .left{
    margin-left: 4%;
  }

  .center{
    margin: 20px 1%;
  }

  .col img{
    object-fit: cover;
    height: 130px;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .col h3{
    text-align: center;
    color: #7CBB02;
    font-size: xx-large;
    position: absolute;
    padding-top: 130px;
  }

  .col p{
    padding-top: 220px;
    text-align: center;
    position: absolute;
    bottom: 0;
  }

  .row1::after{
    content: "";
    display: table;
    clear: both;
  }

  .blocco{
    height: 350px;
    width: 45%;
    margin-top: 3px;
    display: inline-block;
    float: left;
    /* debug */
    background-color: orange;


  }

  .lx{
    margin-left: 4%;
    margin-right: 2%;
  }

  .row2::after{
    content: "";
    display: table;
    clear: both;
  }

  /* footer */

  footer{
    height: 120px;
    background-color: #D3D3D3;
  }
